tr{
    background-color:#618264;
    color:white;
   
    padding: auto;
    

}

table{
    font-size: larger;
    margin: auto;
   
    height: auto;
    width: 50em;
    border: solid #85A389 25px;
    
}

body{
    background-image: url("emu.png");
    background-size: 2000px;
    margin: 60px;
}

tr:hover{
    background-color: #1A5D1A;
}

h1{
    color: white;
    background-color: #618264;
    text-align: center;
    font-size: 50px;
    padding: 20px;
    border: solid #85A389 5px;
   
    
}

a{
    text-decoration: none;
    color: white;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

th,td,input{
    text-align: center;
    padding: 15px;
    border: #85A389 solid 1px;
}


.error {
    color: red;
    text-align: center;
}