body {font-size: 1.25em; font-family: verdana; margin-top: 4%;margin-bottom: 5%;}
h1,div.main {width: 60%; margin: auto; min-width: 800px; margin-bottom: 3%;}
img {
    float: left; 
    padding-right: 8px; padding-bottom: 16px; 
    width: 300px;
    margin: 25px;
   
}



hr {clear: left; border-style: solid; border-color: #336699;}

.lyer1{
    margin: 20px;
    border-radius: 10%;
    border: solid black 20px;
    padding: 5%;
    background-color:#F1EFEF ;  

}



